--- layout: default --- {% assign title = page.title %} {% assign content = page.content %} {% include contactPolicyBanner.html colour="cream" sectionTitle=title description=content classList="flexWrapper padd" %}
{% if page.title == "Privacy Policy" %}
English / Swahili / 
{% endif %} {% if page.title != "Contact" %}
{% if page.title == "Privacy Policy" %}
English
{% endif %} {{page.Body | markdownify }} {% if page.title == "Privacy Policy" %}

Swahili
{{page.['Privacy Policy - Swahili Description'] | markdownify }} {% endif %} 
{% endif %} 
